<header>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/candy">Candy</a></li>
          <li><a href="/stores">Stores</a></li>
          <li><a href="/orders">Orders</a></li>
          <li><a href="/auth/login">Login</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-logo">
      <h1>Welcome to the Candy Store!</h1>
      <p>Your sweet shop for the finest candies</p>
    </div>
  </header>
  