# Ignore node_modules
node_modules

# Ignore environment settings
.env

# Ignore local SSL certificates
localhost-key.pem
localhost.pem

# Ignore DS_Store files in macOS
**/.DS_Store

# Ignore .vscode settings
.vscode

# Ignore coverage reports
coverage